<turbo-frame id="dashboard_table">
  <turbo-frame class="relative w-full overflow-auto rounded-md">
    <%= render_table do %>
      <caption class="sr-only">Files and folders dasboard</caption>
      <%= table_head do %>
        <%= table_header "", class: "w-1/12" %>
        <%= table_header "Name", class: "w-1" %>
        <%= table_header "Date Modified", class: "w-1/12 text-center hidden sm:table-cell" %>
        <%= table_header "Size", class: "w-1/12 text-center hidden sm:table-cell" %>
        <%= table_header "Tags", class: "w-1/12 text-center hidden sm:table-cell" %>
        <%= table_header "Actions", class: "w-1/12 text-center" %>
      <% end %>

      <%= table_body do %>
        <% if current_folder_presenter.parent_present? %>
          <%= render partial:'dashboard/folders/parent_row', locals: { folder_presenter: current_folder_presenter.parent_presenter } %>
        <% end %>

        <%= render partial:'dashboard/folders/row', collection: folders_presenters, as: :folder_presenter %>

        <%= render partial:'dashboard/file_entries/row', collection: file_entries_presenters, as: :file_entry_presenter %>
      <% end %>
    <% end %>
  </div>

  <% if show_empty_data_placeholder?(folders: folders_presenters, file_entries: file_entries_presenters, current_folder: current_folder_presenter) %>
    <%= render 'dashboard/empty_data_placeholder' %>
  <% end %>
</turbo-frame>
