<div class="min-h-screen bg-background">
  <div class="container mx-auto p-4 space-y-4">
    <h1 class="text-2xl font-bold">Files storage</h1>

    <%= render_tabs data: { controller: "dashboard-view" } do %>
      <%= before_tab_list do %>
        <div class="flex flex-col md:flex-row gap-2 mr-2 w-full">
          <div class="flex items-center flex-1">
            <%= render "dashboard/path", current_folder: current_folder %>
          </div>

          <%= render "dashboard/controls", current_folder_id: current_folder.id %>

        </div>
      <% end %>

      <%= tab_list do %>
        <%= tab "Grid", active: current_view == 'grid', data: { action: "click->dashboard-view#change", name: "grid" } %>
        <%= tab "List", active: current_view == 'list', data: { action: "click->dashboard-view#change", name: "list" } %>
      <% end %>

      <%= tab_panels do %>
        <%= turbo_frame_tag "dashboard_content" do %>
          <%= render 'dashboard/dashboard_content', files: files, folders: folders, current_folder: current_folder, current_view: current_view %>
        <% end %>
      <% end %>
    <% end %>

    <turbo-frame id="new_folder_dialog"></turbo-frame>
    <turbo-frame id="edit_folder_dialog"></turbo-frame>
    <turbo-frame id="delete_folder_dialog"></turbo-frame>

    <turbo-frame id="new_file_entry_dialog"></turbo-frame>
    <turbo-frame id="edit_file_entry_dialog"></turbo-frame>
    <turbo-frame id="delete_file_entry_dialog"></turbo-frame>

    <%= render 'components/ui/toast' %>
  </div>
</div>
