<turbo-frame id="new_folder_form">
  <%= form_with(model: folder, local: true, class: 'space-y-4 text-start', data: { turbo: true }) do |f| %>
    <h2 class="text-lg font-semibold">Create folder</h2>

    <div>
      <%= f.label :name, 'Folder Name', class: 'block font-semibold mb-1' %>

      <%= render_input(name: "folder[name]", label: true, placeholder: 'Enter folder name...', object: folder, field_name: :name) %>
    </div>
    <div>
      <%= f.label :parent_id, 'Parent Folder', class: 'block font-semibold mb-1' %>

      <%= render_select name: "folder[parent_id]", selected: available_folders.first.name, class: "w-full" do |select| %>
        <% available_folders.each do |available_folder| %>
          <%= select.option label: available_folder.name, value: available_folder.id do %>
            <%= available_folder.name %>
          <% end %>
        <% end %>
      <% end %>

    </div>
    <div class="flex justify-end gap-2">
      <%= render_button("Create Folder", variant: :default, type: :submit) %>
    </div>
  <% end %>
</turbo-frame>
