<turbo-frame id="new_folder_form">
  <%= form_with(model: folder_presenter, local: true, class: 'space-y-4 text-start', data: { turbo: true }) do |f| %>
    <h2 class="text-lg font-semibold">Create folder</h2>

    <div>
      <%= f.label :name, 'Folder Name', class: 'block font-semibold mb-1' %>

      <%= render_input(name: "folder[name]", label: true, placeholder: 'Enter folder name...', object: folder_presenter, field_name: :name) %>
    </div>

    <%= f.hidden_field :parent_id, value: folder_presenter.parent_id %>

    <div class="flex justify-end gap-2">
      <%= render_button("Create Folder", variant: :default, type: :submit) %>
    </div>
  <% end %>
</turbo-frame>
