<div data-controller="drag-drop" data-drag-drop-type-value="file" data-drag-drop-id-value="<%= dashboard_file.id %>" data-drag-drop-draggable-value="true">
    <%= render_card class: "cursor-move min-h-48 h-full" do %>
        <div class="text-4xl mb-2"><%= render 'icons/file', class: "h-10 w-10" %></div>

        <div class="flex flex-col justify-between h-full text-center">
            <div class="font-semibold text-md"><%= dashboard_file.name %></div>

            <div class="flex flex-col items-center">
                <div class="text-md text-gray-500 mt-1"><%= dashboard_file.updated_at.strftime('%m/%d/%Y') %></div>

                <div class="flex gap-2 mt-2">
                    <%= render_dialog id: "edit_file_entry_modal" do %>
                        <%= dialog_trigger do %>
                            <%= render_button 'Edit' do %>
                            <%= render 'icons/square_pen' %>
                            <% end %>
                        <% end %>

                        <%= dialog_content do %>
                            <%= render 'file_entries/edit_form', file_entry: dashboard_file, available_folders: available_folders, source_id: 1 %>
                        <% end %>
                    <% end %>

                    <%= render_dialog id: "delete_file_entry_modal" do %>
                        <%= dialog_trigger do %>
                            <%= render_button 'Delete', variant: :destructive do %>
                                <%= render 'icons/trash_2' %>
                            <% end %>
                        <% end %>

                        <%= dialog_content do %>
                            <%= render 'file_entries/delete_form', file_entry: dashboard_file %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>