<%= table_row class: "cursor-move", data: { 
    controller: "drag-drop", 
    drag_drop_type_value: "file", 
    drag_drop_id_value: file.id,
    drag_drop_draggable_value: true,
} do %>
    <%= table_column do %>
        <%= render 'icons/file' %>
    <% end %>

    <%= table_column class: "whitespace-nowrap overflow-auto max-w-1" do %>
        <%= file.name %>
    <% end %>

    <%= table_column class: "text-center hidden sm:table-cell" do %>
        <%= file.updated_at.strftime('%m/%d/%Y') %>
    <% end %>

    <%= table_column class: "text-center hidden sm:table-cell" do %>
        <%= number_to_human_size(file.size).presence || '-' %>
    <% end %>

    <%= table_column class: "text-center hidden sm:table-cell" do %>
        <%= file.tags.join(', ').presence || '-' %>
    <% end %>

    <%= table_column class: "text-center" do %>
        <div class="flex gap-2 flex-col md:flex-row">
            <%= render 'dashboard/file_entries/edit_file_button', file_id: file.id %>

            <%= render 'dashboard/file_entries/delete_file_button', file_id: file.id %>
        </div>
    <% end %>
<% end %>
