    <%= table_row data: { 
        controller: "turbo-visit drag-drop", 
        drag_drop_type_value: "folder", 
        drag_drop_id_value: dashboard_folder.id,
        drag_drop_draggable_value: true,
        action: "click->turbo-visit#visit",
        url: dashboard_path_for(dashboard_folder)
    } do %>
        <%= table_column do %>
            <%= render 'icons/folder' %>
        <% end %>

        <%= table_column class: "whitespace-nowrap overflow-auto max-w-1" do %>
            <%= dashboard_folder.name %>
        <% end %>

        <%= table_column class: "text-center hidden sm:table-cell" do %>
            <%= dashboard_folder.updated_at.strftime('%m/%d/%Y') %>
        <% end %>

        <%= table_column class: "text-center hidden sm:table-cell" do %>
            -
        <% end %>

        <%= table_column class: "text-center hidden sm:table-cell" do %>
            -
        <% end %>

        <%= table_column class: "text-center" do %>
            <div class="flex gap-2 flex-col md:flex-row">
                <%= render_dialog id: "edit_folder_modal" do %>
                    <%= dialog_trigger do %>
                        <%= render_button 'Edit' do %>
                            <%= render 'icons/square_pen' %>
                        <% end %>
                    <% end %>

                    <%= dialog_content do %>
                        <%= render 'folders/edit_form', folder: dashboard_folder, available_folders: available_folders, source_id: 2 %>
                    <% end %>
                <% end %>

                <%= render_dialog id: "delete_folder_modal" do %>
                    <%= dialog_trigger do %>
                        <%= render_button 'Delete', variant: :destructive do %>
                            <%= render 'icons/trash_2' %>
                        <% end %>
                    <% end %>

                    <%= dialog_content do %>
                        <%= render 'folders/delete_form', folder: dashboard_folder %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    <% end %>

